.main{
    flex: 1;
    position: relative;
    padding-bottom: 15vh;
    height: 40vh;
}
.nav-bar{
    display: inline-flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main .nav-bar p{
    font-size: 30px;
    padding: 10px 20px;
    font-weight: 600;
}
.main .user-logo-top{
    width: 40px;
    border-radius: 50%;
    margin: 10px 30px 0px 0px;
}
.user-logo{
    width: 40px;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
}

.main .main-container1{
    margin: 2% auto;
    width: 60%;
}

.main .result-title{
    display: flex;
    align-items: start;
    font-size: 22px;
    gap: 20px;
}
.main .result-title p{
    margin-top: 10px;
    font-weight: 600;
}
.result {
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;        
    -ms-overflow-style: none;    
    position: relative;
}

.result::-webkit-scrollbar {
    display: none;               
}

.result-data {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;    
    justify-content: flex-start; 
    gap: 10px;
}


.result-data p{
    margin-top: 10px;
    font-size: 22px
}

.result-data img {
    width: 50px;
    border-radius: 50%;
    flex-shrink: 0;             
    align-self: flex-start;      
}


.bottom-container {
    position: fixed;
    bottom: 50px;
    left: 56%;
    transform: translateX(-50%);
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
    padding: 15px 20px;
    background-color: #f0f4f9;

    z-index: 100;
}


.bottom-container:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.buttom-image{
    display: flex;
    gap: 20px;
}

.buttom-image img{
    width: 30px;
    cursor: pointer;
}

.box-search input{
    width: 250%;
    text-align: start;
    padding: 10px 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
}

.main-conatainer{
    margin: 7% auto;
    max-width: 900px;
}

.main .greet{
    margin:  0px;
    font-size: 56px;
    font-weight: 500;
}

.main .greet span{
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text{
    color: #c4c7c5;
    font-weight: 600;
}

.main-conatainer .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 30px;
}

.cards .card{
    background-color: #f0f4f9;
    padding: 10px 20px;
    margin: 100% auto;
    border-radius: 20px;
    position: relative;
    min-height: 20vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: 500;
    transition: 0.3s ease-in;
}

.cards p{
    font-size: 20px;
}

.card:hover{
    background-color: #dfe4ea;
    cursor: pointer;
    transform: scale(1.1);
}


.cards img{
    width: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 13px;
    right: 12px;
    background-color: white;
    padding: 10px;
}



.main .log-in-btn{
    margin: 0px 40px 0px 0px;
    padding: 10px 21px;
    border-radius: 10px ;
    font-size: 22px;
    font-weight: 700;
    background: -webkit-linear-gradient(46deg, #0055df, #d11100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 7px 7px 20px black;
}